<%- include('./partials/header.ejs')  %>

<% for(post of posts){ %>
    <div class="contentList">
        
        <div class="titledelete">
            <h1 class="quotes"><%= post.title%> </h1>            
        </div>
        <div class="textusername">
            <h2 class="quotes"><%= post.text %> - <span><%= post.username %></span></h2> 
            <p class="postusername"></p>
        </div>
    </div>
<% } %>
<% if(posts.length >= count){ %>
    <h2>No more posts available</h2>
<% } else{ %>
    <form method="POST">
        <input type="hidden" name="id" value= 5></input>
        <button>...</button>
    </form>
<% } %>



<!-- <script defer>
    const form = document.querySelector('.publishform')
    const liste = document.querySelector('.onePost')
    const list = document.querySelector('.contentList')
    const link = "http://localhost:6969"

    function refresh(){
        location.reload(true);
    }
    
    form.addEventListener('submit', async(e)=>{
        e.preventDefault();
        const title = document.querySelector('#title').value;
        const content = document.querySelector('#text').value; 
        const bruker = user.username;
        try{
            const res = await fetch(`${link}/add`, {
                method: 'POST',
                body: JSON.stringify({content, title, bruker}),
                headers: {'Content-type': 'application/json'}
            });
            const data = await res.json()
            console.log(data)
        }
        catch (err) {
            console.log(err)
        } 
        finally {
        refresh();
        }
    })
    async function getTenPosts(){ 
        const response = await fetch(`${link}/posts`) 
        const posts = await response.json();

        list.innerHTML = ''; // Clear previous content

        posts.forEach(p => {
            list.innerHTML +=  `
                 <div>
                    <h2 class ="quotes">${p.title}</h2>
                    <p class="quotes">${p.value}</p>
                    <button onclick=deletes('${p._id}')>Delete</button>
                 </div>  
            `
        });
    } 
    // <button onclick=deletes('${p._id}')>Delete</button>
    getTenPosts();
    


    async function deletes(id){
            console.log(id)
            try{
                const res = await fetch(`${link}/delete`, {
                    method: 'POST',
                    body: JSON.stringify({id}),
                    headers: {'Content-type': 'application/json'}
                });
                const data = await res.json()
                console.log(data)
                
            }
            catch (err) {
                console.log(err)
            }
            finally{
                refresh()
            }

        }



</script> -->

<%- include('./partials/footer.ejs')  %>